{% extends "base.html" %} 
{% block content %} 

<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>

<h2>Questions:</h2>
<ul class="mt-5">
    {% for question in questions %}
    <p>New question is:</p>
    {# Include CKEditor assets #} {{ form.media }} 
        {{ question.text | safe}}
        <!-- <ul>
            {% for option in options %}
                {% if option.question == question %}
                    <li>{{ option.text }}</li>
                {% endif %}
            {% endfor %}
        </ul> -->
    {% endfor %}
</ul>
{% endblock %} 