{% extends "base.html" %} 
{% block content %} 

<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>

<h2>Questions:</h2>
<ul>
    {% for question in questions %}
        <li>{{ question.text }}</li>
        <ul>
            {% for option in options %}
                {% if option.question == question %}
                    <li>{{ option.text }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %} 