{% extends "base.html" %}  
{% block content %}
<div class=" mx-auto px-4 py-3">
    <h1 class="text-3xl font-bold mt-4 mb-4">{{ test.title }}</h1>
    {% if user_authenticated %} 
        {% if is_manager %}
        <a href="{% url 'manage_test' slug=test.slug %}" class="btn-submit mt-5">Edit</a>
        {% endif %}
    <a href="{% url 'give_test' slug=test.slug %}" class="btn-submit mt-5">Give the test</a>
    {% endif %}
    <p class="text-gray-600 mt-4">Author: {{ test.author.username }}</p> 
    <p class="text-gray-600 mt-4">Start Time: {{ test.start_time }}</p>
    <p class="text-gray-600 mt-4">End Time: {{ test.end_time }}</p>
    <div class="prose max-w-none mt-4">
        {{ test.content|safe }}
    </div>
</div>
{% endblock %}