{% load static %}

<!DOCTYPE html>
<html> 
    <head>
        <title>Forum</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <style> 

        </style>

    </head>

    <body>


        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Forum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto ">
                        {% if user_authenticated %}
                        <li class="nav-item text-black text-center">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'create_post' %}">Create a
                                Post</a>
                        </li>
                        <li class="nav-item text-black text-center">
                            <a class="nav-link text-black font-weight-bold" href="#">{{ user.username }}</a>
                        </li>
                        <li class="nav-item text-black text-center">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item text-black text-center">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'login_user' %}">Login</a>
                        </li>
                        <li class="nav-item text-black text-center">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'register_user' %}">Signup</a>
                        </li>
                        {% endif %}
                    </ul> 
                </div>
            </div>
        </nav>


    {% block content %}
        <!-- Content Goes here -->
    {% endblock content %}

    <!-- Footer -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>




</html>















