{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Signup Page</title>
 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!--Stylesheet-->
    <style media="screen">
     body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }

        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }

        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }

        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }

        .card {
            box-shadow: 0 16px 48px #E3E7EB;
        }
 

        label {
            width: 40%;
        }  

        input {
            width: 59%;
        }
         
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title font-weight-bold">Register</h5>
                        <form method="post" action="{% url 'register_user' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="container">
                                <div class="form-group">
                                    <label for="id_username">Username:</label>
                                    <input type="text" name="username"  class="form-control" maxlength="150" autofocus required>
                                </div>
                                <div class="form-group">
                                    <label for="id_email_address">Email:</label>
                                    <input type="email" name="email_address" class="form-control" autofocus required>
                                </div>
                                <div class="form-group">
                                    <label for="id_date_of_birth">Date of birth:</label>
                                    <input type="text" name="date_of_birth" class="form-control" id="id_date_of_birth">
                                </div>
                                <div class="form-group">
                                    <label for="id_profile_picture">Profile picture:</label>
                                    <input type="file" name="profile_picture" class="form-control-file" id="id_profile_picture">
                                </div>
                                <div class="form-group">
                                    <label for="id_password1">Password:</label>
                                    <input type="password" name="password1" class="form-control" autocomplete="new-password" required>
                                </div>
                                <div class="form-group">
                                    <label for="id_password2">Password confirmation:</label>
                                    <input type="password" name="password2" class="form-control" autocomplete="new-password" required>
                                </div>
    
                                {% if errors %}
                                <ul class="errorlist alert alert-warning">
                                    {% for field_errors in errors.values %}
                                    {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                                {% endif %}
    
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script >
        var originalInput = document.getElementById('id_date_of_birth');
        originalInput.type = 'date';

    </script>

    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
</body>
</html>
